<fieldset>
  <div data-ng-repeat="field in steps[$index]">
    <div data-ng-form="" name="subForm" class="submissionField">
      <div data-ng-switch="" on="field.type">
        <div data-ng-switch-default="" class="form-group input" data-ng-class="field.required && 'required'">
          <!-- <div> -->
          <!--   <label>{{field.label}}</label> -->
          <!--   <a href="" data-ng-show="field.hint" -->
          <!--              data-content="field.hint" -->
          <!--              popover="{{field.hint}}" -->
          <!--              popover-placement="right" popover-trigger="mouseenter"> -->
          <!--     <i class="glyphicon glyphicon-question-sign"></i> -->
          <!--   </a> -->
          <!-- </div>  -->
          <div class="submissionFieldInput row">

            <div data-ng-switch="" on="field.type">

              <input class="form-control" data-ng-switch-when="inputbox"
                      data-ng-model="field.value"
                      data-ng-required="field.required"
                      name="input" value="{{field.value}}"
                      placeholder="{{field.placeholder}}" type="text" />
              
              <div data-ng-switch-when="textarea" data-ng-controller="HideExpandController">
                <a data-ng-click="expanded = true" data-ng-show="!expanded">Add message</a>
                <textarea class="form-control" data-ng-show="expanded"
                          data-ng-model="field.value"
                          data-ng-required="field.required"
                          placeholder="{{field.placeholder}}">{{field.value}}</textarea>
              </div>

              <div data-ng-switch-when="fileupload">

                <form id="fileupload" action="{{fileupload_url}}"
                  method="POST" enctype="multipart/form-data"
                  data-ng-app="GLClient.fileuploader"
                  data-ng-controller="FileUploadController"
                  data-file-upload="fileupload_options"
                  data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
                  <span class="btn btn-default fileinput-button actionButton submissionButton" data-ng-disabled="disabled">
                    <span data-translate>+ Add file</span>
                    <input type="file" name="files[]" multiple data-ng-disabled="disabled">
                  </span>
                </form>

                <!-- button class="btn btn-default actionButton submissionButton" data-ng-click="upload_file()">+ Add file</button -->

              </div>
            </div>

          </div>         
      </div>
    </div>
  </div>
</fieldset>
