<fieldset>
  <div data-ng-repeat="field in steps[$index]">
    <div data-ng-form="" name="subForm" class="submissionField">
      <div data-ng-switch="" on="field.type">
        <div data-ng-switch-default="" class="form-group input" data-ng-class="field.required && 'required'">
          <div>
            <label>{{field.label}}</label>
            <a href="" data-ng-show="field.hint"
                       data-content="field.hint"
                       popover="{{field.hint}}"
                       popover-placement="right" popover-trigger="mouseenter">
              <i class="glyphicon glyphicon-question-sign"></i>
            </a>
          </div> 
          <div class="submissionFieldInput row">

            <div data-ng-switch="" on="field.type">

              <input class="form-control" data-ng-switch-when="inputbox"
                      data-ng-model="field.value"
                      data-ng-required="field.required"
                      name="input" value="{{field.value}}"
                      placeholder="{{field.placeholder}}" type="text" />
              
              <div data-ng-switch-when="textarea" data-ng-controller="HideExpandController">
                <a data-ng-click="expanded = true" data-ng-show="!expanded">Add message</a>
                <textarea class="form-control" data-ng-show="expanded"
                          data-ng-model="field.value"
                          data-ng-required="field.required"
                          placeholder="{{field.placeholder}}">{{field.value}}</textarea>
              </div>

              <div data-ng-switch-when="fileupload">
                <input type="file" mock-file-upload 
                       upload-in-progress="upload_in_progress"
                       uploading-files="uploading_files"/>
                       <pre>{{upload_in_progress}}</pre>
                       <pre>{{uploading_files | json}}</pre>
              </div>
            </div>

          </div>         
      </div>
    </div>
  </div>
</fieldset>
