/** Receiver selection page **/

#ContextPickSelector, #ContextIntroductionBox, #ReceiverIntroductionBox {
  margin-bottom: 30px;
}

.receiverCards {
  position: relative;
}

.receiverCard {
  padding: 20px;
  background-color: white;
  border: 1px solid #DDD;
  border-radius: 10px;
  word-wrap: break-word;
}

.receiverCard.selected {
  background-color: #DFF0D8;
}

.receiverCard.disabled {
  background-color: #f2dede;
}

.submissionField {
  padding-bottom: 15px;
}

.submissionFieldInput {
  padding-left: 15px;
}

.submissionFieldgroup {
  padding: 20px;
  border: 1px solid #eee;
}

#ReceiverSelectionBoxBig .receiverCardTitle {
  font-size: 20px;
}

#ReceiverSelectionBoxBig .receiverCard {
  margin-bottom: 20px;
}

@media (max-width: 550px) {
  .submission .nav.nav-tabs {
    display: none;
  }
  
  .receiverCard {
    max-width: 95%;
  }
}

#MaxSelectableReceiverBox {
  margin-bottom: 30px;
}

.fileUploadBox {
}

.filePreview {
  margin: 0 auto;
  width: 150px;
  padding: 0px 10px 10px 10px;
}

.fileDetailsEntry {
  padding-bottom: 10px;
}

.fileUploadAddContainer {
  padding-left: 10px;
}

.fileUploadAdd {
  height: 290px;
  border: 1px dotted blue;
}

.fileUploadAddButton {
  margin: 0 auto;
  width: 73px;
  padding-top: 190px;
}

.fileName {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
}

.uploadingBox {
  background-color: white;
  border-radius: 4px;
  box-shadow: 2px 1px 5px #888888;
  padding: 0 30px;
}

.stepIndex {
  display: block;
  font-size: 36px;
  font-weight: 500;
}

.stepLabel {
  display: block;
  font-size: 20px;
  font-weight: 500;
  color: grey;
}

.submitButtonContainer {
  position: absolute;
  right: 0;
}

.submitButtonBar {
  height: 50px;
  position: fixed;
  background-color: red;
  width: 100%;
  bottom: 0;
}

.fileUploadProgress {
  padding-top: 115px;
  position: absolute;
  top: 0;
  z-index: 900;
  height: 150px;
  width: 150px;
}

.fileUploadProgressOverlay {
  background-color: black;
  opacity: 0.3;
  height: 150px;
  width: 150px;
  position: absolute;
  top: 0;
}

.fileUploadProgress .progress {
  width: 130px;
  margin-left: 10px;
}

.submissionButton {
  font-size: 25px;
  padding: 10px 100px 10px;
}

.imgPreview {
  height: 150px;
  width: 150px;
}

.fileUploadProgress .progress-bar {
  transition: none;
}

.fileUploadProgress .uploadComplete {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 50px;
  color: white;
}

.addMoreFiles {
  padding-bottom: 20px;
}

.submissionFieldInput textarea {
  height: 260px;
}

.creditCard {
  width: 200px;
}

.receiptConfirmBox {
  background-color: #ccc;
  border: 1px solid #222;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.receiptToolTip {
  position: relative;
  /* width: 250px; */
  /* height: 120px; */
  padding: 10px;
  background: #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-left: 30px;
}

.receiptToolTip:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #ccc;
  display: block;
  width: 0;
  z-index: 1;
  left: -15px;
  top: 17px;
}

.submissionReceipt {
  padding-bottom: 20px;
}

.submissionReceipt h3 {
  font-size: 36px; 
}

.submissionReceipt h4 {
  font-weight: 200;
}

.receiptKey {
  font-size: 76px;
}


.receiptNumber {
  font-size: 20px;
  font-weight: 500;
}
